/* penulis script Rizky hidayattullah */
* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

.nama {
    text-align: center;
    margin-top: 20px;
}

h3 {
    color: white;
    cursor: pointer;
    transition: 0.2s;
    font-family: sans-serif;
}

h3:hover {
    color: rgba(68, 68, 68, 0.868);
}

h1 {
    color: white;
    cursor: pointer;
    transition: 0.2s;
    font-family: sans-serif;
}

h1:hover {
    color: rgba(68, 68, 68, 0.868);
}

p {
    font-family: 'Courier New', monospace;
}

.quot {
    text-align: center;
}

body {
    background-color: rgb(218, 178, 127);
}

/* .foto-saya{
    cursor: pointer;
    width: 5cm;
    box-shadow: 1px 1px 1px black;
    background: white;
    transform: 0.1s;
    opacity: 100%;
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
} */
img {
    cursor: pointer;
    width: 5cm;
    box-shadow: 1px 1px 1px black;
    background: white;
    transform: 0.1s;
    opacity: 100%;
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* bagian tombol */


.tombol-media a {
    background-color: rgb(201, 142, 65);
    font-size: 20px;
    padding: 8px 25px;
    border-radius: 8px;
    margin: 4px;
    display: flex;
    margin-left: 35%;
    margin-right: 35%;
}

.tombol-media a:hover {
    background-color: rgba(68, 68, 68, 0.868);
}

.tombol-tugas a {
    background-color: rgb(201, 142, 65);
    font-size: 20px;
    padding: 8px 25px;
    border-radius: 8px;
    margin: 31px;
    
}
.tombol-tugas a:hover {
    background-color: rgb(250, 202, 143);
    color: black;
}

.tombol-index a {
    background-color: rgb(201, 142, 65);
    font-size: 20px;
    padding: 12px 25px;
    border-radius: 8px;
    margin: 31px;
}

.tombol-index a:hover {
    background-color: rgb(250, 202, 143);
    color: black;
}
/* tombol js slide */
.p-tombol{
    background-color: rgb(201, 142, 65);
    font-size: 20px;
    border-radius: 8px;
    text-decoration: none;
    margin-left: 30px;
    margin-right: 30px;
    cursor: pointer;
}

.tombol{
    background-color: rgb(201, 142, 65);
    font-size: 20px;
    padding: 8px 25px;
    border-radius: 8px;
    text-decoration: none;
    margin-left: 0px;
    margin-right: 0px;
    cursor: pointer;
    text-align: center;
}
.tombol :hover{
    background-color: rgb(217, 154, 82);
}
.warna{
    border-radius: 8px ;
    background-color: rgb(245, 192, 132);
    padding: 20px;
    display: none;
    box-shadow: 0px 8px 15px 0px rgba(0,0,0,2);
    margin-left: 0px;
    margin-right: 0px;
    text-align: justify;
    
}
/* akhir tombol js slid */
/* akhir bagian tombol */

/* bagian tabel */
.judul {
    text-align: center;
    margin-top: 20px;
}

.kepala-tabel {
    background-color: rgb(201, 142, 65);
}

.tabel {
    border-collapse: collapse;
    width: 95%;
    margin-left: 32px;
    
}

td,
th {
    border: 2px solid black;
    text-align: center;
    padding: 10px;
    border-collapse: collapse;
    cursor: pointer;
}

td:hover {
    background-color: rgb(181, 121, 43);
}

th:hover {
    background-color: rgb(181, 121, 43);
}

/* bagian akhir tabel */