*{
    padding: 0;
    margin: 0;
}
td, th{
    border: 2px solid black;
    text-align: center;
    padding: 10px;
    border-collapse: collapse;
    cursor: pointer;
}
td:hover{
    background-color:  rgb(181, 121, 43);
}
th:hover{
    background-color:  rgb(181, 121, 43);
}
a{
    text-decoration: none;
    color: white;
}
.nama{
    text-align: center;
}
h3{
    color: white;
    cursor: pointer;
    transition: 0.2s;
    font-family: sans-serif;
}
h3:hover{
    color: rgba(68, 68, 68, 0.868);
}
h1{
    color: white;
    cursor: pointer;
    transition: 0.2s;
    font-family: sans-serif;
}
h1:hover{
    color: rgba(68, 68, 68, 0.868);
}
p{
    font-family: 'Courier New', monospace;
}
.quot{
    text-align: center;
}
body{
    background-color:rgb(218, 178, 127);
}
img{
    cursor: pointer;
    width: 5cm;
    box-shadow: 1px 1px 1px black;
    background: white;
    transform: 0.1s;
    opacity: 100%;
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.tombol-media a{
    background-color: rgb(201, 142, 65);
    font-size: 20px;
    padding: 12px 25px;
    border-radius: 8px;
    margin: 4px;
    display: block;
    margin-left: 40%;
    margin-right: 40%;
    text-align: center;
    
}
.tombol-media a:hover{
    background-color: rgba(68, 68, 68, 0.868);
}

.tombol-tugas a {
    background-color: rgb(201, 142, 65);
    font-size: 20px;
    padding: 12px 25px;
    border-radius: 8px;
    margin: 25px;
    display: block;
    margin-left: 2%;
    margin-right: 84%;
    text-align: center;
    
}
.tombol-tugas a:hover{
    background-color: rgb(250, 202, 143);
    color: black;
}
.tombol-index a {
    background-color: rgb(201, 142, 65);
    font-size: 20px;
    padding: 12px 25px;
    border-radius: 8px;
    margin: 25px;
}
.tombol-index a:hover{
    background-color: rgb(250, 202, 143);
    color: black;
}
.judul{
    text-align: center;
    margin-top: 20px;
}
.kepala-tabel{
    background-color:rgb(201, 142, 65);   
}
.tabel{
    border-collapse: collapse;
    width: 95%;
    margin-left: 32px;
}