body{
    background-color: bisque;
}
.por-ker{
    width: 800px;
    padding: 17px;
    height: 800px;
    background-color: white;
    margin: 0 auto;
}
img{
    cursor: pointer;
    width: 5cm;
    box-shadow: 1px 1px 1px black;
    background: white;
    transform: 0.1s;
    opacity: 100%;
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.nama {
    text-align: center;
    margin-top: 20px;
}
h1{
    color: rgb(77, 77, 77);
    cursor: pointer;
    transition: 0.2s;
    font-family: sans-serif;
}

h1:hover {
    color: rgba(68, 68, 68, 0.868);
}


/* nafbar Spa menu */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  rgb(201, 142, 65);
    border: 3px solid white;
    border-radius: 4px;
} 
li{
    float: left;
}
li a{
    display: block;
    color: black;
    padding: 8px 28px;
    text-decoration: none;
    transition: 0.2s;
}
li a:hover{
    transform: scale(1.1);
    background-color:  rgb(181, 124, 51);
}
/* akhir nafbar */
h2 , p{
    text-align: center;
    font-family: sans-serif;
}
.cuax{
    clear: both;
}
.menu{
    background-color: rgb(201, 142, 65);
    border: 1px solid white;
    padding: 2px;
    display: none;
    color: black;
    border-radius: 6px;
} 
.slide{
    background-color:rgb(181, 124, 51);
}
